@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('fonts/icons/MaterialIcons-Regular.woff2') format('woff2'),
       url('fonts/icons/MaterialIcons-Regular.woff') format('woff'),
       url('fonts/icons/MaterialIcons-Regular.ttf') format('truetype');
}

/* get the required local files */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Regular.ttf'); /* IE9 Compat Modes */
  src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype'), /* Modern Browsers */
  url('fonts/roboto/Roboto-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    overflow: hidden;
}

.content-container {
    overflow-y: scroll;
}

.top-stats {
    text-align: center;
    margin: 10px 0px;
    color: rgb(255,255,255) !important;
    font-size: 14px;
}

.top-stats-left {
    border-right: 1px solid rgba(255,255,255,0.25);
}

.top-stats h3, .top-stats p {
    margin: 0px;
}

.top-stats h3 {
    margin: 10px 0px 3px 0px;
}

.top-stats p {
    margin: 3px 0px 10px 0px;
}

.search-card {
    padding: 0px 8px;
}

.search-card-input {
    margin: 18px 0 0px 0px;
}

.info-content {
    background-color: transparent;
}

.info-card {
    width: 600px;
    min-width: 460px;
}

.info-card-title {
    padding: 0px;
}

.info-card-title-text {
    padding: 10px;
}

.info-card-title-media {
    margin: 0px;
    padding: 0px;
}

.info-card-media {
    overflow: hidden;
    padding: 0px;
}

.info-card-divider {
    margin: 10px 20px 10px 0px;
}

.info-card-actions {
    background-color: #edecec;
    margin: 0px;
}

.info-card-body {
    font-size: 14px;
    margin: 0px;
}

.info-card-actions-text {
    line-height: 36px;
    height: 36px;
    font-size: 14px;
    align-items: center;
    padding: 0 15px;
    border-right: 1px solid #E0E0E0;
}